* {
    margin: 0;
    box-sizing: border-box;
}

/*HEADER*/
header {
grid-row: 1/2;
background-color: #779882;
display: flex;
align-items: center;
position: fixed;
right: 0;
left: 0;
top: 0;
padding-top: 20px;
padding-bottom: 15px;
z-index: 2;
}

header nav {
    grid-column: 1/4;
    padding-left: 50px;
    padding-right: 50px;
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
}

.hamburger {
    grid-column: 3/4;
    display: none;
    justify-content: end;
    align-items: center;
}

.hamburger img {
    height: 1.2em;
}

.logo {
    grid-column: 1/2;
    height: 50px;
}

.global-nav {
    grid-column: 2/3;
    display: flex;
    justify-content: end;
    gap: 50px;
    align-items: center;
    margin-right: 50px;
}

body {
    background-image: url('img/banner-billede.jpg'); /* Replace 'path/to/your/image.jpg' with the actual path to your image */
    background-size: cover; /* Adjusts the size of the background image to cover the entire body */
    background-position: center; /* Centers the background image */
}

body {
    background-color: #F3F4EF;
    display: grid;
    grid-template-rows: 100px 1fr auto;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
    line-height: 32px;
    color: #3C3C3C;
}

footer {
    color: #779882;
}

footer h3 {
    color: #F3F4EF;
}
